<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        My Table
        <small>custom datatable</small>
    </h1>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <div class="box box-success">
        <div class="box-header with-border">
                <h3 class="box-title">Contacts</h3>
        </div>
   
    <div class="box-body">
        <div class="row">
            <div class="col-sm-2">
                <select class="form-control" (change)="lengthChanged()" [(ngModel)]="pageLength">
                    <option value="2">2</option>
                    <option value="4">4</option>
                    <option value="6">6</option>
                    <option value="8">8</option>
                    <option value="10">10</option>
                </select>
            </div>
            <div class="col-sm-4 pull-right">
                <input type="text" class="form-control" placeholder="Search" (keyup)="filterColumn($event,'name')"/>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Mobile</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let contact of data">
                                <td>{{contact.id}}</td>
                                <td>{{contact.name}}</td>
                                <td>{{contact.mobile}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-5" style="white-space: nowrap">
                        Showing {{fromRecord+1}} to {{toRecord}} of {{totalRecords}} entries
                    </div>
                    <div class="col-sm-7" style="white-space: nowrap">
                        <ul class="pagination pull-right">
                            <li><a (click)="pageChanged(pages[0])">First</a></li>
                            <li><a (click)="previousPage()">Prev</a></li>
                            
                            <li *ngFor="let page of pages" [class.active]="page==currentPage"><a  (click)="pageChanged(page)">{{page.pageNo}}</a></li>

                            <li><a (click)="nextPage()">Next</a></li>
                            <li><a (click)="pageChanged(pages[pages.length-1])">Last</a></li>
                        </ul>
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
    </div>
</section>