<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css"/>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
      Contacts
      <small>select,add,update,delete</small>
    </h1>
</section>

  <!-- Main content -->
  <section class="content container-fluid">

      <div class="box box-success">
          <div class="box-header with-border">
                  <h3 class="box-title">Contacts</h3>
                  <button class="btn btn-xs btn-primary pull-right" data-toggle="modal" data-target="#myModal"
                    (click)="edit(null)">Add</button>
                </div>
     
      <div class="box-body table-responsive no-padding">
          <div class="row">
              <div class="col-sm-12">
          <div class="table-responsive">
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered" id="contactsTableId">
            <thead>
              <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contact of contacts;let sn=index">
                <td>{{sn+1}}</td>
                <td>{{contact.name}}</td>
                <td>{{contact.mobile}}</td>
                <td><i class="glyphicon glyphicon-edit" (click)="edit(contact)" title="Upadate" data-toggle="modal"
                    data-target="#myModal"></i><i class="glyphicon glyphicon-trash" (click)="delete(contact.id)"
                    title="Delete"></i></td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
      </div>
    </div>
  
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          <ng-container *ngIf="contact.id">Update Contact</ng-container>
          <ng-container *ngIf="!contact.id">Add Contact</ng-container>
        </h4>
      </div>
      <div class="modal-body">
        <form autocomplete="off" #form="ngForm" novalidate>
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" name="contact.name"
              [(ngModel)]="contact.name" #nameVal="ngModel" required>
            <p class="text-danger" *ngIf="(nameVal.touched || nameVal.dirty) &&  nameVal.invalid">Please enter name</p>
          </div>
          <div class="form-group">
            <label for="mobile">Mobile:</label>
            <input type="number" class="form-control" id="mobile" placeholder="Enter mobile number" maxlength="10"
              name="contact.mobile" [(ngModel)]="contact.mobile" #mobileVal="ngModel" required>
            <p class="text-danger" *ngIf="(mobileVal.touched || mobileVal.dirty) &&  mobileVal.invalid">Please enter mobile
              number</p>
          </div>
          <button type="button" class="btn btn-success" (click)="add(form)" [disabled]="form.invalid">
            <ng-container *ngIf="contact.id">Update</ng-container>
            <ng-container *ngIf="!contact.id">Add</ng-container>
          </button>
        </form>
      </div>
    </div>

  </div>
</div>

  </section>
  