/* You can add global styles to this file, and also import other style files */
.glyphicon-edit{
    margin:5px;
    color: #337ab7;
    cursor:pointer;
    font-size: 20px;
}

.glyphicon-trash{
    margin:5px;
    color:red;
    cursor:pointer;
    font-size: 20px;
}

.dataTables_wrapper{
    margin:10px;
}